@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Inter&display=swap');

* {
    font-family: 'Helvetica', 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* nav-bar */

.nav {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    margin-left: 10vw;
    height: 50px;
}

.navLink {
    font-weight: bold;
    margin-top: 20px;
    margin-right: 120px;
}

.navLink:first-of-type {
    margin-right: 150px;
}


/* home */

.home-presentation {
    margin-left: 10vw;
    margin-top: 50px;
    width: 55vw;
    min-width: 700px;
    text-align: justify;
}

/* numéros */

.numeros-left-section {
    width: 22vw;
    height: calc(100vh - 66px);
    padding-right: 20px;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 100px;
}

.numeros-presentation {
    padding-right: 30px;
}

.numeros-left-section p {
    /* text-align: justify; */
    font-weight: bold;
    line-height: 1.5;
}

.numeros-right-section {
    margin-left: 33vw;
    margin-right: 10vw;
    margin-top: 50px;
    width: 57vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.numeros-article-card{
    width: 47%;
    height: 400px;
    overflow-y: hidden;
    margin-bottom: 50px;
}
.numeros-image-card {
    height: 250px;
    width: 100%;
    background-size: cover;
    z-index: 1;
}

.numeros-article-card h3 {
    margin-bottom: 0;
    z-index: 2;
    font-family: "Barlow Semi Condensed";
    font-weight: 500;
    font-size: 21px;
}

.numeros-article-card:hover{
    cursor: pointer;

}

.numeros-article-card:hover h3 {
    color: #B18522;
}

.numeros-article-card h4 {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 13px;
    font-style: italic;
    z-index: 2;
}

.numeros-text-card p{
    font-size: 13px;
    z-index: 2;
}

#select-numero {
    width: 100%;
    text-align: center;
    padding: 5px;
    border: none;
    background: none;
}

#select-numero option {
    text-align: center;
    padding: 5px;
    border-top: none;
}

/* au fil de l'eau */

.au-fil-container {
    margin: 50px 10vw 0 10vw;
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.au-fil-article-card {
    width: 30%;
    margin: 0 2.5% 2.5% 0;
}

@media screen and (max-width: 1050px) {
    .au-fil-article-card {
        width: 45%;
        margin: 2.5%;
    }
}

.au-fil-image-card {
    min-height: 250px;
}

.au-fil-article-card h3 {
    font-family: 'Barlow Semi Condensed';
    font-weight: 500;
    margin-bottom: 0;
}
.au-fil-author-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.au-fil-author-date > *  {
    margin: 0;
    margin-top: 10px;
    padding-right: 40px;
    font-family: 'Letter Gothic';
    font-size: 13px;
}

.au-fil-author-date span {
    text-transform: uppercase;
    font-family: 'Letter Gothic';
    font-size: 13px;

}

.au-fil-pres > p {
    text-align: justify;
    word-break: break-word;
    hyphens: auto; 
    word-wrap: break-word;
}

/* articles */

.article-container {
    margin: 100px 10vw;
    max-width: 700px;
    width: 55vw;
}

.article-container h2 {
    font-size: 23px;
    font-family: 'Barlow Semi Condensed';
    font-weight: 500;

}

.article-info-container {
    margin-top: 30px;
    margin-bottom: 70px;
}

.article-info-container p {
    margin: 0;
    font-family: "Letter Gothic"

}

.article-pres {
    text-align: justify;
    font-style: italic;
}

.article-content {
    text-align: justify;
    position: relative;
}

.article-content p {
    margin-top: 70px;
}
.article-au-fil-image-container {
    position: absolute; 
    right: -25vw;
    top: 0;
    height: 15vw;
    width: 15vw;
}


.article-au-fil-image {
    width: 100%;
    height: 100%;
}