@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Inter&display=swap');

* {
    font-family: 'Helvetica', 'Inter', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

.a-in-rich-text:hover {
    color: rgb(177, 133, 34);
}

p, li {
    line-height: 1.5;
}


.non-clickable {
    cursor: default !important;
}

.uppercase {
    text-transform: uppercase;
    font-family: 'Letter Gothic';
}

ul {
    padding: 0;
}

li {
    list-style:none;
    list-style-image:url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

.video-container {
    padding-bottom: 56.25%; 
    position: relative; 
    display: block; 
    width: 100%;
    margin-bottom: 70px;
}
.video-container > iframe {
    height: 100%;
    width: 100%;
    position: absolute; 
    top: 0; 
    left: 0;
}


/* nav-bar */

.nav {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    margin-left: 10vw;
    height: 50px;
}

.navLink {
    font-weight: bold;
    margin-top: 20px;
    margin-right: 80px;
    width: 120px;
    font-size: 18px
}



/* home */

.home-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100vw;
}

.home-presentation {
    margin-left: 10vw;
    margin-top: 50px;
    margin-right: none;
    width: 55vw;
    min-width: 500px;
    text-align: justify;
}

.home-presentation p {
    margin-bottom: 20px;
}

.home-container .side-links{
    margin-top: 50px;
    padding-left: 20px;
    text-align: right;
    padding-right: 10vw;
}

.home-container .side-links p {
    margin-bottom: 10px;
    cursor: pointer;
}

.logos-div {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-end;
    margin-right: -5px;
    margin-bottom: 20px;
}

.logos-div > a {
    height: fit-content;
}

.logos-div img {
    margin-left: 20px;
}

#logo-stoff {
    height: 40px;
}

#twitter-logo {
    height: 40px;
    width: auto;
}

#fb-logo {
    height: 40px;
    width: auto;
}

@media screen and (max-width: 900px) {
    .home-container .side-links{
        margin-left: 10vw;
        padding-left: 0;
    }
    .home-container {
        flex-direction: column-reverse;
    }
}
/* numéros */

.numeros-left-section {
    width: 22vw;
    height: calc(100vh - 120px);
    padding-right: 20px;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 100px;
}

.numeros-presentation {
    padding-right: 30px;
}

.numeros-left-section p {
    /* text-align: justify; */
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.numeros-right-section {
    margin-left: 33vw;
    margin-right: 10vw;
    margin-top: 50px;
    width: 57vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.numeros-article-card{
    width: 47%;
    height: 320px;
    /* overflow-y: hidden; */
    margin-bottom: 50px;
    transition: 0.6s all linear;
    position: relative;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.numeros-article-card::-webkit-scrollbar {
    display: none;
  }

/* .numeros-article-card:hover{
    height: fit-content;
    overflow-y: auto;
    max-height: 800px;
} */

.numeros-image-card {
    height: 250px;
    width: 100%;
    background-size: cover;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute !important;
    transition: 0.5s all linear;
}

.numero-all-text-content {
    position: absolute;
    bottom: 0;
}


.numeros-article-card h3 {
    margin-bottom: 0;
    z-index: 2;
    font-family: "Barlow Semi Condensed";
    font-weight: 500;
    font-size: 21px;
}

.numeros-article-card:hover{
    cursor: pointer;
}

.numeros-article-card:hover .numeros-image-card {
    opacity: 0.15 !important;

}

.numeros-article-card:hover .numeros-text-card{
    max-height: 800px;
}



.numeros-article-card:hover h3, .text-materiaux {
    color:  #B8860B;
    /* #B8860B; */
}

.numeros-article-card .numeros-text-card {
    max-height:0;
    transition: linear all 0.6s;
    overflow-y: hidden;
}

.text-materiaux {
    opacity: 0;
    transition: 0.6s linear all;
    font-family: 'Letter Gothic'
}

.numeros-article-card:hover .text-materiaux {
    opacity: 1;
}

.text-materiaux:hover {
    color: black;
    cursor: pointer !important;
}

.numeros-article-card h4 {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 13px;
    font-style: italic;
    z-index: 2;
}

/* 

.text-filter{
    position: absolute;
    top: 30%;
    left: 0;
    height: 70%;
    width: 100%;
    background: linear-gradient(to bottom, transparent 60%, white);
    opacity: 1;
    transition: all linear 0.4s;
} */

/* .numeros-article-card:hover .text-filter {
    display: none;
} */
.numeros-text-card p{
    font-size: 13px;
    z-index: 2;
    text-align: left;
}



#select-numero {
    width: 100%;
    text-align: center;
    padding: 5px;
    border: none;
    background: none;
}

#select-numero option {
    text-align: center;
    padding: 5px;
    border-top: none;
}

.all-numeros-container {
    margin: 50px 10vw;
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.all-numeros-card {
    width: 30%;
    margin: 0 2.5% 2.5% 0;
    cursor: pointer;
}

.all-numeros-card-image{
    /* background-color: grey; */
    height: 150px;
    width: 260px;
}

@media screen and (max-width: 1050px) {
    .all-numeros-card-image{
        /* background-color: grey; */
        height: 100px;
        width: 210px;
    }
}

.all-numeros-card:hover .all-numeros-card-title {
    color: #B8860B !important;
}

.all-numeros-themes {
    font-family: 'Letter Gothic';
    margin: 0;
}

/* au fil de l'eau */

.au-fil-container {
    margin: 50px 10vw 0 10vw;
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.au-fil-article-card {
    width: 30%;
    margin: 0 2.5% 2.5% 0;
}

@media screen and (max-width: 1050px) {
    .au-fil-article-card {
        width: 45%;
        margin: 2.5%;
    }
}

.au-fil-image-card {
    min-height: 250px;
}

.au-fil-article-card h3 {
    font-family: 'Barlow Semi Condensed';
    font-weight: 500;
    margin-bottom: 0;
}

.au-fil-article-card:hover h3 {
    color: rgb(184, 134, 11);

}
.au-fil-author-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.au-fil-author-date > *  {
    margin: 0;
    margin-top: 10px;
    padding-right: 40px;
    font-family: 'Letter Gothic';
    font-size: 13px;
}

.au-fil-author-date span {
    text-transform: uppercase;
    font-family: 'Letter Gothic';
    font-size: 13px;

}

.au-fil-pres > p {
    text-align: left;
}

/* articles */

.article-container {
    margin: 100px 10vw;
    max-width: 700px;
    width: 55vw;
    position: relative;
}

.article-container h2 {
    font-size: 23px;
    font-family: 'Barlow Semi Condensed';
    font-weight: 500;
}

.article-container .materiaux-link {
    position: absolute;
    right: -25vw;
    font-family: 'Letter Gothic';
    top: 0;
}

.article-container .materiaux-link:hover {
    color: rgb(184, 134, 11);
    cursor: pointer;
}

.article-info-container {
    margin-top: 30px;
    margin-bottom: 70px;
}

.article-info-container p {
    margin: 0;
    font-family: "Letter Gothic";
    font-size: 0.7em;
}

.article-pres {
    text-align: justify;
    font-style: italic;
    margin-bottom: 70px;
}

.article-content {
    text-align: justify;
    position: relative;
}

.article-content {

}

.article-content p, .article-content h1, .article-content h2, .article-content h3 {
    margin-bottom: 70px;
}


.article-content li p {
    margin: 1rem;
}




.article-au-fil-image-container {
    position: absolute; 
    right: -25vw;
    top: 0;
    height: 15vw;
    width: 15vw;
}


.article-au-fil-image {
    width: 100%;
    height: 100%;
}


/* materiaux */

.materiau-container {
    max-height: 270px;
    overflow-y: hidden;
    position: relative;
    height: fit-content;
    cursor: pointer;
    width: 80vw;
    height: 270px;
}


.materiau-container.component {
    margin-bottom: 100px;
}


.materiau-container .article-info-container {
    margin: 20px 0;
    margin: 0;
    transition: 0.3s all linear;
    max-height: 300px;
    overflow-y: hidden;
    
}

.materiau-container:hover .article-info-container {
    max-height: 0;
    margin: 0;
}


.materiau-container:hover .text-filter {
    opacity: 0;
    transition: all 0.4s linear;
}

.materiau-container:hover .text-materiaux {
    opacity: 1;
}
.materiau-container h2 {
    transition: all 0.3s linear;
}
.materiau-container:hover h2 {
    color: #B8860B;
}
.materiau-container .numeros-text-card {
    max-width: 700px;
    width: 55vw;
}

.right-info-container {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: 0.3s linear all;
    margin-top: 50px;

}

@media screen and (max-width: 1000px) {
    .materiau-container {
        width: 85vw;
    }
}   

.right-info-container p {
    font-family: "Letter Gothic";
    margin: 0;

}

.materiau-container:hover .right-info-container {
    opacity: 1;
}

.materiaux-container {
    margin: 100px 10vw;

}

.materiaux-container h2,.materiaux-container h1  {
    font-family: "Barlow Semi Condensed";
}

.materiau-component-h2 {
    font-weight: 500;
}

.notes-critiques-container {
    position: relative;
}

.notes-critiques {
padding: 0 20px;
border: solid black 0.5px;
margin: 50px 0;
}

.notes-critiques > *{
    margin: 20px 0;
    font-family: "Helvetica";
    font-weight: 300;
    position: relative;
}

.notes-critiques h1 {
    font-size: 18px;
}

.notes-critiques p{
    text-align: justify;
    font-size: 14px;
    line-height: 1.6
}

/* commande temporaire */

.commande-temporaire {
    margin-top: 50px;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 55vw;
    min-width: 700px;
}

.commande-temporaire div {
    font-weight: bold;
    margin-top: 30px;
}

/* lieux de distribution */

.lieux-container {
    display: flex;
    flex-direction: row;
}

.countries-ul {
    margin-right: 100px;
    width: 100px;
}

.countries-ul li {
    margin-bottom: 40px;
    cursor: pointer;
}

.cities-ul {
    margin-right: 100px;
    width: 100px;
}
.cities-ul li {
    margin-bottom: 30px;
    font-size: 15px;
    cursor: pointer;

}

.librairies-ul li {
    margin-bottom: 20px;
    font-size: 14px;
    width: 170px;
    text-align: left;
}

.distrib-message {
    margin-bottom: 30px;
}

.boldness {
    font-weight: bold;
}


.erreur-temporaire {
    display: none;
}

@media screen and (max-width: 900px) {

#all-content * {
    display: none !important

}

.erreur-temporaire {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 30px 0;
}
.erreur-temporaire p {
    text-align: center;
    padding: 30px;
}
}


@media screen and (max-width: 900px) {
    .nav {
        display: none;
    }
    .nav-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-mobile h1 {
        padding: 20px;
    }

    .nav-mobile-pop {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 150px;
        border: 0.5px black solid;
        padding: 10px;
        margin: 10px;
    }

    .nav-btn {
        height: 50px;
        width: 20px;
    }

    .nav-btn > div {
        border-top: 3px solid black;
        margin-bottom: 5px;
    }

    .navLink {
        font-weight: bold;
        margin-top: 20px;
        margin-right: 0;
        width: fit-content;
        font-size: 18px
    }
}


<div className='nav-mobile'>
<h1>stoff</h1>
<div className='nav-mobile-pop'>
    <div className="nav-btn">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <AniLink className={'navLink'} activeStyle={{ color: "#B18522" }} to='/'>stoff</AniLink>
    <AniLink className={'navLink'} activeStyle={{ color: "#B18522" }} to='/commande'>commander</AniLink>
    <AniLink className={'navLink'} activeStyle={{ color: "#B18522" }} style={numeroLink} to='/numeros'>numéros</AniLink>
    <AniLink className={'navLink'} activeStyle={{ color: "#B18522" }} style={aufilLink} to='/au-fil-de-l-eau'>au fil de l'eau</AniLink>
</div>
</div>